@font-face {
  font-family: "BlueteaFont";
  src: url("fonts/Bluetea-2ORDv.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.greeting {
  font-size: 16px;
  margin: 10px 0;
  margin-bottom: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.icon-bold {
  font-weight: bold;
  margin-left: 8px;
  text-decoration: none;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  background-color: #fefcf7;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  max-width: 1200px;
  gap: 100px;
}

.hero-container img {
  width: 20vw;
  height: auto;
  object-fit: cover;
}

.hero img {
  width: 500px;
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 7%;
}

.hero .content {
  flex: 1;
  text-align: left;
}

.subtitle {
  font-size: 20px;
  margin: 15px 0;
  font-weight: normal;
  max-width: 550px;
  line-height: 2.1;
  margin-top: 20px;
}

.highlight {
  color: var(--accent_colour);
  font-weight: bold;
  font-size: 52px;
  margin-bottom: 10px;
  font-family: "BlueteaFont", sans-serif;
  display: inline-block;
}

.social-icons {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.social-icons a {
  color: #444;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #f24a8f;
}

.hero_button {
  margin-top: 7%;
  padding: 15px 30px;
  border: none;
  background: var(--accent_colour);
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  transition: 0.5s;
  text-decoration: none;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  display: inline-flex;
}

.hero_button a {
  text-decoration: none !important;
  color: white;
}

.hero_button:hover {
  transform: scale(1.05);
  background-color: #f24a8f;
}

.styled-link {
  color: #ca0470;
  text-decoration: none;
  font-weight: bold;
}

.styled-link:hover {
  text-decoration: underline;
  color: #f24a8f;
}

@media screen and (max-width: 1400px) and (min-width: 1000px) {
  .main_head {
    font-size: 2rem;
    line-height: 1.3;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 10%;
  }

  .hero img {
    width: 100%;
    max-width: 550px;
    height: auto;
    object-position: center;
  }

  .hero .content {
    text-align: left;
  }

  .greeting,
  .main_head,
  .subtitle {
    font-size: 18px;
  }

  .main_head {
    margin: 15px 0;
    max-width: 400px;
  }

  .highlight {
    font-size: 30px;
    margin-right: 8px;
  }

  .rest {
    font-size: 22px;
    margin-left: 8px;
  }

  .social-icons {
    display: flex;
    align-items: left;
    justify-content: left;
  }
}

@media (max-width: 768px) {
  .hero img {
    width: 100%;
    max-width: 450px;
    max-height: 500px;
    height: auto;
    object-position: center;
    margin-top: -20px;
  }

  .hero .content {
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .hero .content .greeting {
    margin-bottom: 5%;
    margin-top: 30px;
  }

  .main_head {
    margin: 12px 0;
  }

  .subtitle {
    text-align: left;
  }

  .highlight {
    font-size: 42px;
    margin-right: 6px;
  }

  .hero_button {
    font-size: 16px;
  }

  .social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
  }

  .hero_button {
    text-align: left;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .hero img {
    width: 100%;
    max-height: 500px;
    height: auto;
    object-position: center;
  }

  .hero .content {
    padding: 0 15px;
    text-align: left;
    margin-top: -10%;
  }

  .greeting {
    margin-bottom: 30px !important;
    font-size: 13px;
  }

  .subtitle {
    text-align: left;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;


  }

  .highlight {
    font-size: 1.6rem;
    margin-right: 4px;
    margin-bottom: 10px;
  }

  .social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 17px;
  }

  .hero_button {
    margin-top: 12%;
    margin-left: 0;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    background: var(--accent_colour);
    color: white;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    transition: 0.5s;
    text-decoration: none;
    display: inline-block;
    text-align: left;
  }

  .hero_button a {
    text-decoration: none;
  }
}
