.hero-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding-top: 70px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    max-width: 1200px;
    gap: 100px;
}

.hero-container img {
    width: 20vw;
    height: auto;
    object-fit: cover;
}

.hero img {
    width: 500px; 
    height: 500px; 
    object-fit: cover; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.hero img:hover {
    transform: translateY(20px); 
}

.hero .content {
    flex: 1;
    text-align: left;
}

.greeting {
    font-size: 24px;
    margin: 10px 0;
}

.main_head {
    font-size: 70px;
    line-height: 1.4;
    margin: 20px 0;
}

.subtitle {
    font-size: 18px;
    margin: 15px 0;
    line-height: 2.0;
    font-weight: normal;
    max-width: 550px;
}

.highlight {
    color: var(--accent_colour);
    font-weight: bold;
    font-size: 50px;
}

.rest {
    margin-bottom: 10%;
    font-size: 30px;
    color: #444;
}

.social-icons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.social-icons a {
    color: #444;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #DA7C25;
}

.hero_button {
    margin-top: 7%;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background: var(--accent_colour);
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    transition: 0.5s;
    text-decoration: none;
}

.hero_button:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .hero img {
        width: 80%; 
        max-width: 400px; 
        height: auto;
        object-position: center; 
    }

    .hero .content {
        text-align: left;
    }

    .greeting,
    .main_head,
    .subtitle {
        font-size: 18px;
    }

    .main_head {
        margin: 15px 0;
        /* line-height: 1.5; */
    }

    .highlight {
        font-size: 30px;
        margin-right: 8px;
    }

    .rest {
        font-size: 22px;
        margin-left: 8px;
    }


    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hero img {
        width: 100%; 
        max-width: 350px;
        height: auto;
        object-position: center; 
    }

    .hero .content {
        padding: 0 10px;
    }

    .main_head {
        margin: 12px 0;
    }

    .subtitle {
        text-align: left;
    }

    .highlight {
        font-size: 26px;
        margin-right: 6px;
    }

    .rest {
        font-size: 20px;
        margin-left: 6px;
    }

    .hero_button {
        font-size: 16px;
    }

    .social-icons {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
    }

    .hero_button {
        text-align: left;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .hero img {
        width: 100%; 
        height: auto;
        object-position: center; 
    }

    .hero .content {
        padding: 0 15px;
        text-align: left;
    }

    .greeting{
        margin-top: 40px;
        font-size: 1.4rem;
    }

    .main_head {
        margin: 10px 0;
        text-align: left;
    }

    .subtitle {
        text-align: left;
    }

    .highlight {
        font-size: 2.8rem;
        margin-right: 4px;
    }

    .rest {
        font-size: 18px;
        margin-left: 4px;
    }

    .social-icons {
        display: flex;
        justify-content: flex-start;
        gap: 17px;
    }

    .hero_button {
        margin-top: 12%;
        margin-left: 0;
        font-size: 16px;
        padding: 15px 30px;
        border: none;
        border-radius: 8px;
        background: var(--accent_colour);
        color: white;
        cursor: pointer;
        font-family: "Outfit", sans-serif;
        transition: 0.5s;
        text-decoration: none;
        display: inline-block;
        text-align: left;
    }

    .hero_button a {
        text-decoration: none;
    }
}
