.resources-container {
    padding: 20px 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 40vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    border-radius: 12px;
    box-sizing: border-box;
}

.resources-title {
    color: #5E89ED;
    font-size: 42px;
    margin-bottom: 50px;
    font-weight: 700;
    padding: 15px 20px;
    text-align: center;
}

.resources-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    list-style-type: none;
    box-sizing: border-box;
}
  
p {
    font-size: 17px;
    font-weight: normal;
    margin-top: 8px;
}

.resources-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
    position: relative;
}

.resources-image {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
}

.resources-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resources-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    width: 80%;
    display: inline-block;
    padding: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
}

.resources-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #5E89ED;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.resources-link:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .resources-title {
        font-size: 36px;
    }

    .resources-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .resources-container {
        padding: 20px 8%;
    }

    .resources-link {
        font-size: 18px;
    }

    .resources-image {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .resources-title {
        font-size: 30px;
    }

    .resources-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .resources-container {
        padding: 0px 5%;
    }

    .resources-link {
        font-size: 16px;
    }

    .resources-image {
        height: 400px;
    }

    .resources-image img {
        object-fit: contain;
    }
}
