.mainfooter {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-top-left p {
    font-size: 20px;
    max-width: 400px;
}

.footer-top-left img {
    height: 70px;
    width: auto;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap; 
}

.footer-email-input {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
    border: 2px solid black;
    flex: 1;
    gap: 10px;
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    width: 100%;
}

.subscribe {
    padding: 12px 30px;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    flex-shrink: 0;
    background-color: var(--accent_colour);
    white-space: nowrap;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    flex-wrap: wrap; 
}

.footer-bottom-right {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.footer-email-input:hover {
    border-color: black;
}

.subscribe:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .mainfooter {
        margin: 30px 50px;
    }

    .footer-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer-top-left img {
        height: 40px;
    }

    .footer-email-input {
        flex: none;
        width: 100%;
    }

    .subscribe {
        width: auto;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-bottom-right {
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .mainfooter {
        margin: 35px 45px; 
        gap: 20px;

    }

    .footer-top-left img {
        height: 60px;
        margin-bottom: 7px;
    }

    .footer-top-left p{        
        font-size: 16px;
    }

    .footer-top-right {
        display: flex;
        align-items: center;
    }

    .footer-email-input {
        display: flex;
        align-items: center;
        margin-top: 5%;
        width: 100%;
        gap: 10px;
    }

    .subscribe {
        background-color: var(--accent_colour);
        border: none;
        color: white;
        width: 55%;
        text-align: center;
        font-size: 18px;
    }

    .footer-bottom {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .mainfooter {
        margin: 35px 45px; 
        gap: 15px;
    }

    .footer-top-left p {
        font-size: 15px;
        max-width: 100%;
    }

    .footer-bottom {
        font-size: 12px;
    }
}
