header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  height: 50%;
  background-color: var(--background-color);
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
}

.navbar-menu-item {
  cursor: pointer;
  font-size: 18px;
}

.navbar-menu-item:hover {
  color: var(--accent-colour);
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  font-size: 18px;
}

.navbar-link {
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
  color: var(--accent-colour);
}

.nav-connect {
  margin-top: auto;
  padding: 15px 30px;
  background-color: #ca0470;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 17px;
  transition: 0.5s;
  font-size: 18px;
  text-decoration: none;
}

.nav-connect a {
  text-decoration: none;
  color: white;
}

.nav-connect:hover {
  transform: scale(1.05);
  background-color: #f24a8f;
}

.navbar-logo {
  width: 160px;
  cursor: pointer;
  margin-left: 20px;
}

.navbar-logo img {
  height: 100%;
  width: 100%;
}

.navbar-mobile-toggle {
  display: none;
}

.navbar-search {
  display: flex;
  gap: 5px;
  align-items: center;
}

.navbar-service-link {
  cursor: pointer;
}

.navbar-service-link:hover {
  color: var(--accent-color);
}

.cta-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    box-shadow: none;
    width: 100%;
    width: 100%;
    height: 50px;
    padding: 0 10px;
  }

  .navbar-service-link {
    display: none;
  }

  .navbar-logo {
    width: 150px;
  }

  .navbar-menu-item {
    display: none;
  }

  .navbar-mobile-toggle {
    display: block;
  }
}

.navbar-mobile-menu {
  height: 100vh;
  width: 70%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.navbar-mobile-menu.show {
  display: block;
}

.navbar-mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 30%;
  min-width: 300px;
  min-height: 100vh;
  padding: 30px;
  border-radius: 3px 0;
}

.navbar-mobile-menu nav {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.navbar-mobile-menu a {
  color: var(--link-text-color);
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s;
}

.navbar-mobile-menu a:hover {
  color: var(--accent-secondary-color);
  background-color: var(--hover-background-color);
  border-radius: 2px;
}

.cta-button-mobile {
  background-color: #4831d4;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.cta-button-mobile a {
  color: white !important;
}

.cta-button-mobile:hover {
  transform: scale(1.05);
}

.navbar-links {
  display: flex;
}

.navbar-link {
  margin-right: 20px;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
}

.navbar-menu-item {
  margin-right: 20px;
  cursor: pointer;
}

.navbar-mobile-toggle {
  display: none;
  cursor: pointer;
}

.navbar-mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  background-color: #fcf7f9;
  right: -100%;
  transition: right 0.3s ease;
}

.navbar-mobile-menu-wrapper.open {
  right: 0;
}

.navbar-mobile-menu a {
  padding: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  text-align: center;
}

.navbar-mobile-menu a:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .navbar-links,
  .navbar-menu {
    display: none;
  }

  .navbar-mobile-toggle {
    display: block;
  }
}
