.more-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    height: 30vh;
}

.more-info .projects .viewp {
    text-decoration: none; 
    transition: color 0.3s ease;
    cursor: pointer; 
}

.more-info .projects .viewp:hover {
    color: #4b006e; 
    text-decoration: underline; 
}

.more-info .projects .viewp a {
    color: inherit; 
    text-decoration: inherit; 
}

.more-info > div {
    flex: 1;
    text-align: left;
    padding: 25px;
    height: 25vh;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.more-info > div:hover {
    box-shadow: 0px 8px 0px black;
    transform: translateY(-5px);
    transform: scale(1.05);
}

.more-info img {
    width: 30px;
    height: 30px;
    align-self: flex-start;
    margin-bottom: 10px;
}

.more-info h4:first-of-type {
    font-size: 18px;
    color: #333;
    margin-bottom: 7px;
    margin-top: 10px;
}

.more-info h4:last-of-type {
    font-size: 16px;
    color: #555;
    line-height: 25.2px;
    margin-top: 10px;
    font-weight: normal;
}

@media (max-width: 480px) {
    
    .more-info {
        flex-direction: column; 
        align-items: flex-start;
        gap: 20px; 
        width: calc(100% - 40px); 
        margin: 0 auto;
        height: auto;
    }

    .more-info > div {
        width: 100%; 
        max-width: 400px; 
        padding: 15px;
        height: auto;
    }

}