.portfolio {
  display: flex;
  flex-direction: column; 
  height: 80vh; 
  margin: 0; 
  padding: 0;
  overflow: hidden; 
  cursor: pointer;
}

.portfolio-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
}

.portfolio-left {
  background-color: var(--accent_colour);
}

.portfolio-right {
  background-color: white;
  color: black;
}

.portfolio-content {
  position: absolute;
  text-align: center;
  padding: 20px; 
  font-size: 1.2rem;
}

.portfolio-content h2 {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.arrow-icon {
  font-size: 1rem;
  display: block;
  margin-top: 30px;
  cursor: pointer;
  height: 50px;
  max-width: 200px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.arrow-icon {
  font-size: 1rem;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.portfolio-right .arrow-icon {
  border-color: black;
  color: black;
}

.portfolio-left .arrow-icon {
  border-color: white;
  color: white;
}

.arrow-icon:hover {
  background-color: rgba(0, 0, 255, 0.1); 
  color: var(--accent_colour);
}

.portfolio-left .arrow-icon:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  color: white;
}



@media (min-width: 768px) {
  .portfolio {
    flex-direction: row; 
  }

  .portfolio-content h2 {
    font-size: 2rem; 
  }

  .portfolio-content p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 500px;
    line-height: 35.5px;
  }
}

@media (min-width: 1024px) {
  .portfolio-content h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .portfolio {
    height: 79vh; 
    flex-direction: column; 
  }

  .portfolio-box {
    flex: 1 0 50%; 
    height: 50vh; 
  }

  .portfolio-content h2 {
    font-size: 1.8rem; 
  }

  .portfolio-content p{
    margin-top: 5%;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 500px;
    line-height: 28.5px;
  }

  .arrow-icon {
    font-size: 1rem; 
  }
}
