.portfolio {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  overflow: hidden;
}

.portfolio-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
}

.portfolio-left {
  background-image: url('../../assets/pic1.jpg');
}

.portfolio-right {
  background-image: url('../../assets/pic3.jpg');
}

.portfolio-content {
  position: absolute;
  text-align: center;
  padding: 20px; 
}

.portfolio-content h2 {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: bold;
  margin-bottom: 10px;
}

.arrow-icon {
  font-size: 2rem;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

/* Responsive Design */
@media (min-width: 768px) {
  .portfolio {
    flex-direction: row; 
  }

  .portfolio-content h2 {
    font-size: 2rem; 
  }
}

@media (min-width: 1024px) {
  .portfolio-content h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .portfolio-box {
    flex: 1 0 50%; 
    height: 50vh; 
  }

  .portfolio-content h2 {
    font-size: 1.8rem; 
  }

  .arrow-icon {
    font-size: 1.5rem; 
  }
}
